#eventselect{
    text-align:left;
    /* margin-bottom:2rem; */
}

#client_info{
    padding:1rem;
}

.fade_in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
#space{
    min-height:10px;
}
#spacebottom{
    min-height:400px;
}
#addbox{
    text-align:left;
}

#eventbox{
    margin-top:.5rem;
}
#suite_selection {
    text-align: left;
    margin:0rem;
    margin-bottom:3rem;
    font-size:1rem;
}

#suite_selection.container{
 padding:0rem;
}

#order_summary{
    text-align:left;
    font-size:1rem;
}

#ra{
    text-align:left;
    margin-bottom:2rem;
}

#rabox{
    margin-top:1.5rem;
}
#delivery{
    text-align:left;
    margin-bottom:2rem;
}

#deliverybox{
    margin-top:1.5rem;
}

#summarylabels{
    font-weight:600;
    text-align:end;
}

p{
    margin:.3rem;
}

#price_summary{
    margin-left:2rem;
    text-align:end;
}
#price_container{

    max-width:25%;
    text-align:right;
}
#discount{
    margin-left:2rem;
    color:rgb(211, 6, 6);
    text-align:end;
    
}

#textbox_discount{
    width:50%;
    min-height:10px;
}
#commentsbox{
    text-align:left;
}

#textbox{
    width:50%;
    min-height:80px;
}