.App {
  text-align: center;
}

#map {
  max-width:100%;
}

.container {
  max-width:50%;
}
#top {
}

#topleft{
  align-content:stretch;
  /* background-color:rgb(94, 165, 161); */
  width:60%;
  justify-content: start;
  text-align:left;
}

#topright{
  width:40%;
}

#button{
  padding:3rem;
}